@{
    Layout = "_ConfigurePlugin";
}
@model ConfigurationModel

<form asp-controller="PaymentPayPalExpressCheckout" asp-action="Configure" method="post">
    @Html.ValidationSummary()
    <div class="cards-group">
        <div class="card card-default">

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#@Html.IdFor(model => model.DoNotHaveBusinessAccount)").change(changeBusinessAccount);
                    changeBusinessAccount();
                });

                function changeBusinessAccount() {
                    if ($('#@Html.IdFor(model => model.DoNotHaveBusinessAccount)').is(':checked')) {
                        $('#pnlEmailAddress').showElement();
                        $('#pnlApiSignature').hideElement();
                        $('#pnlUsername').hideElement();
                        $('#pnlPassword').hideElement();
                    } else {
                        $('#pnlApiSignature').showElement();
                        $('#pnlUsername').showElement();
                        $('#pnlPassword').showElement();
                        $('#pnlEmailAddress').hideElement();
                    }
                };
            </script>

            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="DoNotHaveBusinessAccount" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DoNotHaveBusinessAccount" />
                        <span asp-validation-for="DoNotHaveBusinessAccount"></span>
                    </div>
                </div>
                <div class="form-group row" id="pnlApiSignature">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiSignature" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiSignature" />
                        <span asp-validation-for="ApiSignature"></span>
                    </div>
                </div>
                <div class="form-group row" id="pnlUsername">
                    <div class="col-md-3">
                        <nop-label asp-for="Username" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Username" />
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>
                <div class="form-group row" id="pnlPassword">
                    <div class="col-md-3">
                        <nop-label asp-for="Password" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group row" id="pnlEmailAddress">
                    <div class="col-md-3">
                        <nop-label asp-for="EmailAddress" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EmailAddress" />
                        <span asp-validation-for="EmailAddress"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="IsLive" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsLive" />
                        <span asp-validation-for="IsLive"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="LogoImageURL" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LogoImageURL" />
                        <span asp-validation-for="LogoImageURL"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="CartBorderColor" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CartBorderColor" />
                        <span asp-validation-for="CartBorderColor"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="LocaleCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="LocaleCode" asp-items="Model.LocaleOptions" />
                        <span asp-validation-for="LocaleOptions"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="RequireConfirmedShippingAddress" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="RequireConfirmedShippingAddress" />
                        <span asp-validation-for="RequireConfirmedShippingAddress"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PaymentAction" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PaymentAction" asp-items="Model.PaymentActionOptions" />
                        <span asp-validation-for="PaymentAction"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="EnableDebugLogging" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableDebugLogging" />
                        <span asp-validation-for="EnableDebugLogging"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
