@model PaymentInfoModel

@{ var error = TempData[Defaults.CheckoutErrorMessageKey]; }

<img id="payPalExpressCheckoutImage" alt="" src="@Model.ButtonImageLocation" style="cursor:pointer;" />

@if (error != null)
{
    <p class="message-error">@error</p>
}
<script asp-location="Footer">
        $(document).ready(function() {
            $('#payPalExpressCheckoutImage').click(function() {
                //terms of service
                if ($('#termsofservice').length > 0) {
                    //terms of service element exists
                    if (!$('#termsofservice').is(':checked')) {
                        $("#terms-of-service-warning-box").dialog();
                    } else {
                        setLocation('@Url.RouteUrl("Plugin.Payments.PayPalExpressCheckout.SubmitButton")');
                    }
                }
                else {
                    setLocation('@Url.RouteUrl("Plugin.Payments.PayPalExpressCheckout.SubmitButton")');
                }
            });
        });

</script>